<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dashboard</h2>
<h3>Your Transactions</h3>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date }}</td>
            <td><a href="{% url 'delete_transaction' transaction.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No transactions found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="{% url 'add_transaction' %}">Add New Transaction</a></p>
</body>
</html>